root_domain         = "mccurdyc.dev"
sub_domain          = "www"
asset_domain_prefix = "assets"

gcp_project_name        = "www-mccurdyc-dev"
gcp_project_id          = "www-mccurdyc-dev"
gcp_billing_account_id  = "{{ gcp.billing_account_id }}"
gcp_user_email          = "{{ gcp.email }}"
gcp_website_bucket_name = "www.mccurdyc.dev"
fastly_tls_host         = "d.sni.global.fastly.net"
dns_txt_verify          = "{{ gcp.dns_txt_verify }}"

fastly_api_key                       = "{{ fastly.api_key }}"
fastly_service_name                  = "www.mccurdyc.dev"
fastly_backend_origin_server_address = "assets.mccurdyc.dev"
fastly_backend_origin_server_name    = "GCP Bucket Load Balancer"
fastly_cache_ttl_seconds             = 300
