root_domain         = "mccurdyc.dev"
sub_domain          = "www"
asset_domain_prefix = "assets"

gcp_project_name        = "www-mccurdyc-dev"
gcp_project_id          = "www-mccurdyc-dev"
gcp_billing_account_id  = "{{ gcp.billing_account_id }}"
gcp_user_email          = "{{ gcp.email }}"
gcp_website_bucket_name = "www.mccurdyc.dev"
dns_txt_verify          = "{{ gcp.dns_txt_verify }}"
